<link rel="stylesheet" href="{{ asset('styles/career.css') }}">

<div class="container-career" >
	<div class="container-career-education">
		<h1>Education</h1>
		<div class="education-item">
			<div class="education-item-image">
            <img src="{{ asset('images/logo-iset.jpg') }}">
            </div>
			<div class="education-item-content">
				<h2>Licence appliquée en developement des systémes informatiques</h2>
				<p>Institut supérieur des études technologiques, Medenine, Tunisie</p>
			</div>
		</div>
		<div class="education-item">
			<div class="education-item-image"></div>
			<div class="education-item-content">
				<h2>Certification, cloud engineer roles and responsibilities</h2>
				<p>E-Learning</p>
			</div>
		</div>
	</div>
	<div class="container-career-experience">
		<h1>Experience</h1>
		<div class="experience-item" >
			<div class="experience-item-image">
				<img src="{{ asset('images/logo-creo.jpg') }}" alt="Example Image">
			</div>
			<div class="experience-item-content">
				<h2>Stagiaire pour 2 mois dans Creo digitale</h2>
				<p>Services de l'entreprise: Transformation digitale, développement de sites web statiques, de plateformes e-commerce, d'applications web et mobiles, Graphisme, Identité d'entreprises, Marketing digitale, SEO...</p>
			</div>
		</div>
	</div>
</div>
