<div class="footer">
	<div class="adress">
		<div class="phone">
			<i class="fa-solid fa-phone">56 055 501</i>
		</div>
		<div class="email">
			<i class="fa-solid fa-envelope">sarrat381@gmail.com</i>
		</div>

	</div>
	<div class="socials">
		<div class="facebook">
			<i class="fa-brands fa-facebook"></i>
		</div>
		<div class="instagram">
			<i class="fa-brands fa-instagram"></i>
		</div>
	</div>
</div>
