<div class="container-portfolio">
	<h1>Portfolio</h1>
	<div class="container-portfolio-projects">
		<div class="card">
			<div class="bg">
				<a href="https://gallery-front-five.vercel.app/">
					<img src="{{ asset('images/artgallery.png') }}">
				</a>
			</div>
			<div class="blob"></div>
			<div class="title">Art Gallery</div>
		</div>

		<div class="card">
			<div class="bg">
				<a href="https://agence-sara.vercel.app/">
					<img src="{{ asset('images/agence.png') }}">
				</a>
			</div>
			<div class="blob"></div>
			<div class="title">Agence</div>
		</div>
		<div class="card">
			<div class="bg">
				<a href="https://classic-template-sarra.vercel.app/">
					<img src="{{ asset('images/classictemplate.png') }}">
				</a>
			</div>
			<div class="blob"></div>
			<div class="title">Classic Template</div>
		</div>
	</div>
</div>
